h1 {color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Arial';
	padding: 20px;
	background: #0000A0;}

h2 {color: grey;}

span { color: blue;}

p { font-size: 16px;
	font-family: Arial ;
	border-bottom: solid grey;}

#book {background: pink;}

.numlist {padding-left: 0px;}

.boxedlist {border: 1px solid blue;}

.bulletpoints {padding-left: 5px;
 	list-style-position: inside;
	margin-top: 20px;
	margin-bottom: 20px;}

.horizontal{ display: inline;}

body {width: 960px;
	font-family: Arial;
	margin-right: auto;
	margin-left: auto;}